In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from qr_code import QR_CODE, get_compact

In [3]:
def print_grid(arr):
    black_square = "█"       # U+2B1B - BLACK LARGE SQUARE
    white_square = " "       # U+2B1C - WHITE LARGE SQUARE
    
    return [''.join(np.where(row, black_square, white_square)) for row in arr]

## Load

In [4]:
gdf = gpd.read_file('data/grid.geojson')

In [5]:
gdf["fill"] = False
gdf["isqr"] = False

In [6]:
gdf

,id,left,top,right,bottom,row_index,col_index,centroid_x,centroid_y,geometry,fill,isqr
0,1,227964.3725,907580.0846,228064.3725,907480.0846,0,0,228014.3725,907530.085,"POLYGON ((227964.372 907580.085, 228064.372 90...",False,False
1,2,227964.3725,907480.0846,228064.3725,907380.0846,1,0,228014.3725,907430.085,"POLYGON ((227964.372 907480.085, 228064.372 90...",False,False
2,3,227964.3725,907380.0846,228064.3725,907280.0846,2,0,228014.3725,907330.085,"POLYGON ((227964.372 907380.085, 228064.372 90...",False,False
3,4,227964.3725,907280.0846,228064.3725,907180.0846,3,0,228014.3725,907230.085,"POLYGON ((227964.372 907280.085, 228064.372 90...",False,False
4,5,227964.3725,907180.0846,228064.3725,907080.0846,4,0,228014.3725,907130.085,"POLYGON ((227964.372 907180.085, 228064.372 90...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5835,5836,235864.3725,900780.0846,235964.3725,900680.0846,68,79,235914.3725,900730.085,"POLYGON ((235864.372 900780.085, 235964.372 90...",False,False
5836,5837,235864.3725,900680.0846,235964.3725,900580.0846,69,79,235914.3725,900630.085,"POLYGON ((235864.372 900680.085, 235964.372 90...",False,False
5837,5838,235864.3725,900580.0846,235964.3725,900480.0846,70,79,235914.3725,900530.085,"POLYGON ((235864.372 900580.085, 235964.372 90...",False,False
5838,5839,235864.3725,900480.0846,235964.3725,900380.0846,71,79,235914.3725,900430.085,"POLYGON ((235864.372 900480.085, 235964.372 90...",False,False
5839,5840,235864.3725,900380.0846,235964.3725,900280.0846,72,79,235914.3725,900330.085,"POLYGON ((235864.372 900380.085, 235964.372 90...",False,False

## Reshape grid

In [7]:
fill_array = gdf['fill'].values.reshape(80, 73).T
isqr_array = gdf['isqr'].values.reshape(80, 73).T

In [8]:
# len(gdf)/52

In [9]:
# gdf['row_index'].max()

In [10]:
# gdf['col_index'].max()

## Place QR code inside grid

In [16]:
# bool_array = gdf['fill'].values.reshape(80, 73).T

In [16]:
qr_arr = get_compact(QR_CODE)
qr_arr.shape

(25, 25)

In [28]:
# make array same size as qr_arr but all True
qr_size_arr = np.ones_like(qr_arr, dtype=bool)

In [29]:
# add qr code to fill_array
start_row, start_col = 30, 40  # example coordinates
fill_array[start_row:start_row+25, start_col:start_col+25] = qr_arr
fill_array[start_row:start_row+25, start_col:start_col+25] = qr_arr

In [30]:
# add qr_size_arr to isqr_array
start_row, start_col = 30, 40  # example coordinates
isqr_array[start_row:start_row+25, start_col:start_col+25] = qr_size_arr
isqr_array[start_row:start_row+25, start_col:start_col+25] = qr_size_arr

In [31]:
# print_grid(fill_array)

In [32]:
# print_grid(isqr_array)

## Un-reshape

In [35]:
gdf['fill'] = fill_array.T.flatten()
gdf['isqr'] = isqr_array.T.flatten()

In [37]:
# gdf

In [39]:
gdf.to_file('out/output.geojson', driver='GeoJSON')